{% load mptt_tags %}


<h1>{{ note.title }} by {{ note.author }}</h1>

{% if request.user.is_authenticated %}
  <a href="{% url 'note-update' note.pk %}">Update note</a>
  <a href="{% url 'note-delete' note.pk %}">Delete Note</a>
{% endif %}

<h3>Created: {{ note.created }}; Modified: {{ note.modified }};</h3>

<h3>Topic:
{% for topic in note.topics %}
  {{ topic }}

  {% if not forloop.last %} &raquo; {% endif %}
{% endfor %}
</h3>

<p>{{ note.body }}</p>


<a href="{% url 'note-list' %}">&laquo; Notes Index</a>
